* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: BlinkMacSystemFont, San Francisco, Roboto, Segoe UI,
    Helvetica Neue, sans-serif;
  moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  webkit-font-smoothing: antialiased;
}

body {
  background-color: #f4f5fa;
  color: #454f5b;
  padding: 16px;
}
